@font-face {
    font-family: 'IqosSans-Bold';
    src: url('https://alex-ilyov.github.io/fonts/IQOSSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'IqosSans-Light';
    src: url('https://alex-ilyov.github.io/fonts/IQOSSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'IqosSans-Regular';
    src: url('https://alex-ilyov.github.io/fonts/IQOSSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

