@font-face {
    font-family: 'IqosSansBold';
    src: url('https://alex-ilyov.github.io/IQOSSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'IqosSansBold', sans-serif;
    color:red;
}

a{
    text-decoration:none;
}
